@charset "utf-8";

@font-face {
   font-family: 'Roboto';
   font-style: normal;
   /*font-weight: normal;*/
   src: url(./Roboto-Medium.eot) format('eot'),
   url(./Roboto-Medium.woff) format('woff'),
   url(./Roboto-Medium.otf) format('opentype');
}
