@charset "utf-8";
html{overflow-x:hidden;}
/*** layout ***/
/* .typeMain header{max-width:1740px;} */
.typeMain header .top_util::before{content:"";position:absolute;left:-100%;top:39px;display:block;width:100%;height:1px;background-color:rgba(255,255,255,0.2);transition:all 0.2s;}
.typeMain header .top_util::after {content:"";position:absolute;right:-100%;top:39px;display:block;width:100%;height:1px;background-color:rgba(255,255,255,0.2);transition:all 0.2s;}
.typeMain #header.fixed {position:fixed;}

.typeMain .gnbOn header .top_util::before,
.typeMain .gnbOn header .top_util::after,
.typeMain.mSticky #header header .top_util::before,
.typeMain.mSticky #header header .top_util::after{background-color:#d9d9d9;}
/*** contents ***/
/*title*/
.mTit{display:block;margin-bottom:25px;font-size:42px;color:#231f20;line-height:1em;letter-spacing:-0.5px;font-weight:bold;}

/*상단 슬라이드*/
.mVisual{width:100%;height:auto;}
.mVisual .sliderArea{max-width:1920px;width:100%;margin:0 auto;}
.mVisual .sliderArea .item{position:relative;display:block;width:100%;height:950px;overflow:hidden;}
.mVisual .sliderArea .item .imgBox{position:absolute;width:1920px;left:50%;top:0;transform:translate(-50%,0);-webkit-transform:translate(-50%,0);z-index:1}
.mVisual .sliderArea .item .imgBox>img{position:relative;z-index:1;}
.mVisual .sliderArea .item .imgBox .mobile{display:none;}
.mVisual .sliderArea .item .btn_Play{width:90px;height:40px;position:absolute;left:calc(50% - 45px);bottom:250px;padding-left:50px;font-size:20px;font-weight:500;text-align:left;color:#fff;background:url(../img/main/icon_videoPlay.png) no-repeat left center;z-index:10;background-size:35px auto;}
.mVisual .sliderArea .item.stop .btn_Play{display:none;}
.mVisual .sliderArea .item.video .youTube {position:absolute;width:100%;height: 950px;left:50%;top:0;transform:translate(-50%,0);-webkit-transform:translate(-50%,0);z-index:0;display:none;}
.mVisual .sliderArea .item.video .videoDim{position:absolute;left:0;top:0;z-index:21;width:100%;height:100%;background:rgba(0,0,0,0);}
.mVisual .sliderArea .item.video.stop .imgBox,
.mVisual .sliderArea .item.video.stop .textArea{display:none !important;opacity:0 !important;}
.mVisual .sliderArea .item.video.stop .youTube{display:block;}
.mVisual .sliderArea .item.video.stop .youTube{display:block;}
/*.mVisual .sliderArea .item.video.stop .videoDim{display:none;}*/
/* .mVisual .sliderArea .item.video .youTube iframe{position:absolute;left:0;top:0;width:100%;height:950px;z-index:20} */
.mVisual .sliderArea .item.video .youTube .ytp_frame {position:absolute;left:0;top:0;width:100%;height:950px;z-index:20}
.mVisual .sliderArea .item.video .youTube .ytp_frame .ytp_frame_inner {position:relative;top:-80px;height:1100px;}
.mVisual .sliderArea .item.video .youTube .ytp_frame iframe {width:1920px;height:1080px;}

.mVisual .sliderArea .item .textArea{position:relative;max-width:1740px;width:100%;margin:0 auto;padding:0 30px;box-sizing:border-box;top:370px;z-index:1;}
.mVisual .sliderArea .item .textArea .greenBox{position:absolute;top:-245px;left:-120px;display:block;width:0px;overflow:hidden;height:521px;background:url(../img/main/mVisualTextAreaB.png) no-repeat left bottom;z-index:-1;background-size:475px 521px}
.mVisual .sliderArea .item .textArea .lv1{font-size:19px;font-weight:bold;letter-spacing:20px;color:#fff;line-height:1em;position:relative;opacity:0;top:15px;}
.mVisual .sliderArea .item .textArea .lv2{margin-top:10px;font-size:115px;letter-spacing:-3px;color:#fff;line-height:1em;position:relative;opacity:0;top:50px;}
.mVisual .sliderArea .item .textArea .lv2>b{font-size:inherit;letter-spacing:inherit;color:inherit;line-height:inherit;font-weight:bold;}
.mVisual .sliderArea .item .textArea .lv2>span{font-size:inherit;letter-spacing:inherit;color:inherit;line-height:inherit;font-weight:200;}
.mVisual .sliderArea .item .textArea .lv3{margin-top:40px;font-size:22px;line-height:28px;color:#fff;letter-spacing:-1px;position:relative;opacity:0;left:50px;}

.mVisual .mVisualDot{position:relative;max-width:1740px;width:100%;margin:0 auto;}
.mVisual .mVisualDot .slick-dots{width:145px;position:absolute;top:-520px;right:30px;}
.mVisual .mVisualDot .slick-dots li{width:100%;}
.mVisual .mVisualDot .slick-dots li .default{padding:10px 0;font-size:20px;line-height:1em;color:rgba(255,255,255,0.4);font-weight:300;letter-spacing:-0.5px;}
.mVisual .mVisualDot .slick-dots li .default>b{font-weight:300;font-size:inherit;line-height:inherit;}
.mVisual .mVisualDot .slick-dots li.slick-active .default{color:#fff;font-size:30px;}
.mVisual .mVisualDot .slick-dots li.slick-active .default>b{font-weight:bold;}
.mVisual .scrollMove{display:block;position:absolute;left:50%;top:770px;width:12px;height:76px;margin-left:-800px;background:url(../img/main/ico_lineArr_B.png) no-repeat 50% 50%;z-index:5; animation: mouseMotion 1s infinite;-webkit-animation: mouseMotion 1s infinite;}

@keyframes mouseMotion {
    0% {background-position:left 0 top 0;}
    50% {background-position:left 0 top 15px;}
    100% {background-position:left 0 top 0;}
}

/*공지사항 롤링*/
.mNoticeRolling{position:relative;width:100%;margin-top:-80px;height:auto;background-color:rgba(0,0,0,0.5);z-index:1;}
.mNoticeRolling .sliderArea{position:relative;max-width:1740px;width:100%;height:80px;padding:0 30px;margin:0 auto;box-sizing:border-box;font-size:0;}
.mNoticeRolling .sliderArea .rollTit{width:150px;display:inline-block;padding-top:28px;font-size:0;}
.mNoticeRolling .sliderArea .rollTit>p{padding-top:2px;font-size:18px;font-weight:500;color:#fff;line-height:1em;display:inline-block;vertical-align:middle;}
.mNoticeRolling .sliderArea .rollTit>.paused{width:22px;height:22px;display:inline-block;border-radius:50%;border:1px solid #fff;margin-left:10px;background:url(../img/main/icon_mNoticeRollingStop.png) no-repeat center center; text-indent:-9999px;vertical-align:middle;}
.mNoticeRolling .sliderArea .linkArea{position:absolute;right:30px;top:0;width:165px;height:80px;z-index:2}
.mNoticeRolling .sliderArea .linkArea>a{display:block;width:100%;height:100%;background-color:#004794;padding:30px 0 28px 0;box-sizing:border-box;text-align:center;}
.mNoticeRolling .sliderArea .linkArea>a>span{font-size:19px;line-height:1em;font-weight:bold;color:#fff;padding-right:20px;background:url(../img/main/icon_linkAreaWhite.png) no-repeat right center;}

.mNoticeRolling .sliderArea .noticeSlider{width:calc(100% - 150px);display:inline-block;vertical-align:top;padding:32px 165px 0 0;box-sizing:border-box;}
.mNoticeRolling .sliderArea .noticeSlider .item{position:relative;margin-right:45px;padding-left:10px;box-sizing:border-box;font-size:16px;font-weight:500;line-height:1em;color:#fff;letter-spacing:-0.5px;}
.mNoticeRolling .sliderArea .noticeSlider .item::before{content:"";position:absolute;left:0;top:7px;width:3px;height:3px;background-color:#fff;}

/* Main video position Set */
@media all and (max-width: 1800px) {
    .mVisual .sliderArea .item.video .youTube .ytp_frame {left:-10%;}
}

@media all and (max-width: 1600px) {
    .mVisual .sliderArea .item.video .youTube .ytp_frame {left:-14%}
}

@media all and (max-width: 1400px) {
    .mVisual .sliderArea .item.video .youTube .ytp_frame {left:-25%}    
}

@media all and (max-width: 1300px) {
    .mVisual .sliderArea .item.video .youTube .ytp_frame {left:-30%}    
}

@media all and (max-width: 1200px) {
    .mVisual .sliderArea .item.video .youTube .ytp_frame {left:-35%}    
}

@media all and (max-width: 1100px) {
    .mVisual .sliderArea .item.video .youTube .ytp_frame {left:-40%} 
}
/* Main video position Set */

@media all and (min-width: 769px) {
    body.mSticky .mNoticeRolling{position:fixed;left:0;bottom:0;background-color:#000;z-index:10;}
    body.mSticky .mNoticeRolling .sliderArea{height:40px;}
    body.mSticky .mNoticeRolling .sliderArea .rollTit{padding-top:9px;}
    body.mSticky .mNoticeRolling .sliderArea .noticeSlider{padding-top:13px;}
    body.mSticky .mNoticeRolling .sliderArea .linkArea{height:40px;}
    body.mSticky .mNoticeRolling .sliderArea .linkArea>a{padding-top:10px;}
    body.mSticky #footer{padding-bottom:40px;}
}
/* mNews */
.mNews{position:relative;width:100%;height:auto;min-height:280px;padding-top:50px;box-sizing:border-box;}
.mNews::before{content:"";position:absolute;left:0;top:0;width:100%;height:280px;background-color:#e6e6e7;z-index:-1;}
.mNews .plus{position:absolute;right:115px;top:5px;width:20px;height:20px;background:url(../img/main/icon_noticePlus.png) no-repeat center center;text-indent:-9999px;z-index:1;}
/*.mNews .sliderArea{position:relative;max-width:1740px;width:100%;padding:0 30px;box-sizing:border-box;margin:0 auto;font-size:0;}*/
.mNews .sliderArea{position:relative;max-width:1920px;width:100%;padding:0 0 0 90px;box-sizing:border-box;margin:0 auto;font-size:0;}
.mNews .sliderArea .slider{width:100%;font-size:0;overflow-x:auto;overflow-y:hidden;}
.mNews .sliderArea .mCSB_horizontal.mCSB_inside > .mCSB_container{font-size:0;}
.mNews .sliderArea .mCSB_scrollTools.mCSB_scrollTools_horizontal{width:calc(100% - 30px);max-width:1720px;}
.mNews .sliderArea .mCSB_horizontal > .mCSB_container.mCS_no_scrollbar_x.mCS_x_hidden{white-space:nowrap;}
.mNews .sliderArea .mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_draggerRail{background-color:#ebebeb;height:5px;border-radius:0;}
.mNews .sliderArea .mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar{border-radius:0;background-color:#69b848;margin-top:7px;height:5px;}
.mNews .sliderArea .item{position:relative;width:390px;left:-100px;height:247px;display:inline-block;margin-right:40px;background-color:#000000;opacity:0;}
.mNews .sliderArea .item:last-child{margin-right:30px;}
.mNews .sliderArea .item>p{position:absolute;bottom:0px;width:100%;height:68px;margin-bottom:20px;overflow:hidden;padding:0 30px 0px 30px;box-sizing:border-box;font-size:28px;line-height:34px;color:#fff;letter-spacing:-1px;text-shadow:0px 0px 50px rgba(0, 0, 0, 0.75);;z-index:2;}
.mNews .sliderArea .item>p>span{display:block;font-size:inherit;letter-spacing:inherit;color:inherit;line-height:inherit;font-weight:300;}
.mNews .sliderArea .item>p>b{font-size:inherit;letter-spacing:-2px;color:inherit;line-height:inherit;font-weight:bold;}
.mNews .sliderArea .item img{width:100%;height:100%;}
.mNews .sliderArea .item::after {content:'';display:block;position:absolute;left:0;top:0;width:100%;height:100%;background:rgba(0,0,0,0.2);z-index:1;}
.mNews .Scrollbar{width:100%;height:5px;background-color:#ebebeb;margin-top:35px; display:none;}
.mNews .Scrollbar>.bar{background-color:#69b848;display:block;width:0;height:5px;transition:all 0.2s;-webkit-transition:all 0.2s;}

.innerCont{width:100%;max-width:1740px;padding:0 30px;box-sizing:border-box;margin:0 auto;}
.innerCont .area{max-width:1240px;padding:0 30px;box-sizing:border-box;margin:0 auto;font-size:0;}

/*링크*/
.mLink{width:100%;padding:90px 0 110px 0;}
.mLink .iconLink{width:100%;font-size:0;text-align:center;}
.mLink .iconLink .item{display:inline-block;vertical-align:top;width:auto;margin:0 50px;font-size:0;text-align:center;}
.mLink .iconLink .item>img{width:auto;margin-bottom:20px;}
.mLink .iconLink .item>p{font-size:18px;color:#222;line-height:22px;}

/* 공지사항 */
.mNotice{width:100%;padding-bottom:100px;}
.mNotice .half{position:relative;width:50%;display:inline-block;vertical-align:top;}
.mNotice .half:nth-child(1){padding-right:100px;box-sizing:border-box;}
.mNotice .tabBtn{position:relative;width:100%;font-size:0;border-bottom:2px solid #d9d9d9;box-sizing:border-box;}
.mNotice .tabBtn .bar{position:absolute;left:0;bottom:-2px;display:block;width:0;height:2px;background-color:#69b848;z-index:1;}
.mNotice .tabBtn .default{width:16.666%;display:inline-block;}
.mNotice .tabBtn .default>span{padding:14px 0;display:block;box-sizing:border-box;text-align:center;font-size:16px;line-height:1em;color:#222;font-weight:500;}
.mNotice .tabBtn .default.on>span{color:#419639;}
.mNotice .noticeList{position:relative;width:100%;min-height:235px;box-sizing:border-box;padding:15px 0 0 0;display:none;}
.mNotice .noticeList.on{display:block;}
.mNotice .noticeList ul{width:100%;}
.mNotice .noticeList ul>li{padding:13px 0;}
.mNotice .noticeList ul>li>a{position:relative;display:block;width:100%;padding-right:80px;box-sizing:border-box;height:18px;}
.mNotice .noticeList ul>li>a>span:not(ico_new){display:inline-block;width:auto;max-width:100%;font-size:18px;line-height:1em;letter-spacing:-0.5px;color:#262626;text-overflow:ellipsis;white-space:nowrap;word-wrap:normal;overflow:hidden;}
.mNotice .noticeList ul>li>a.new>span:not(ico_new){max-width:calc(100% - 30px);}
.mNotice .noticeList ul>li>a> .ico_new{display:inline-block;max-width:inherit;width:14px;height:16px;background:url(../img/main/new_icon.png) no-repeat center center;background-size:14px auto;text-indent:-9999px;margin-left:3px;vertical-align:1px;}
.mNotice .noticeList ul>li>a>time{position:absolute;right:0px;top:2px;display:block;width:80px;text-align:right;font-size:15px;letter-spacing:-0.5px;line-height:1em;color:#6b6b6e;}
.mNotice .noticeList .plus{position:absolute;right:0;top:-100px;width:20px;height:20px;background:url(../img/main/icon_noticePlus.png) no-repeat center center;text-indent:-9999px;z-index:1;}
.mNotice .noticeList .no_article{padding:160px 0 50px 0;background-position:center 30px; background-size:100px auto;}
.mNotice .PR_Movie{position:relative;width:100%;height:310px;}
/*.mNotice .PR_Movie::before{content:"";position:absolute;left:100%;top:-110px;display:block;width:151px;height:135px;background:url(../img/main/icon_mainPointR.png) no-repeat center center;}*/
.mNotice .PR_Movie .pointR{position:absolute;left:100%;top:-110px;display:block;width:151px;height:135px;}
.mNotice .PR_Movie .pointR>img{position:absolute;left:0;top:0;opacity:0;}
.mNotice .PR_Movie .imgBox{position:absolute;left:95px;bottom:0;width:521px;height:394px;z-index:-1;}
.mNotice .PR_Movie > p{line-height:50px;margin-bottom:70px;}
.mNotice .PR_Movie > p>span{font-size:70px;font-weight:200;letter-spacing:15px;color:#262626;display:block;}
.mNotice .PR_Movie > p>b{font-size:70px;font-weight:bold;letter-spacing:15px;color:#262626;display:block;}
.mNotice .PR_Movie > a{font-size:16px;font-weight:500;color:#262626;display:inline-block;padding-left:25px;background:url(../img/main/icon_noticePlus.png) no-repeat left center;}

/*GlobalGTEC*/
.mGlobalGTEC{position:relative;width:100%;height:500px;background:url(../img/main/bg_GlobalGTEC.png) no-repeat right top;}
.mGlobalGTEC .innerCont{position:relative;padding-top:90px;}
.mGlobalGTEC .innerCont::before{content:"";position:absolute;top:0;left:0;display:block;width:100%;height:427px;background-color:#004a8f;z-index:-1;}
.mGlobalGTEC .innerCont::after{content:"";position:absolute;top:0;right:-100%;display:block;width:100%;height:427px;background-color:#004a8f;z-index:-1;}
.mGlobalGTEC .area{font-size:0;position:relative;}
.mGlobalGTEC .area::before{content:"";position:absolute;left:-340px;top:-158px;display:block;width:332px;height:495px;background:url(../img/main/icon_mainPointLbg.png) no-repeat center center;}
.mGlobalGTEC .area .pointL{position:absolute;left:-340px;top:-158px;display:block;width:332px;height:495px;}
.mGlobalGTEC .area .pointL>img{position:absolute;left:0;top:0;opacity:0;}
.mGlobalGTEC .textArea{position:absolute;left:50%;padding-top:20px;}
.mGlobalGTEC .textArea .mTit{color:#fff;margin-bottom:10px;}
.mGlobalGTEC .textArea .mSub{font-size:16px;color:#fff;line-height:21px;letter-spacing:-0.5px;}
.mGlobalGTEC .textArea > a{margin-top:30px;font-size:14px;font-weight:500;color:#fff;display:inline-block;padding-left:25px;background:url(../img/main/icon_mGlobalGTECPlus.png) no-repeat left center;}
.mGlobalGTEC .mobileSlider{font-size:0;}
.mGlobalGTEC .item.large{position:relative;width:46%;height:410px;overflow:hidden;display:inline-block;vertical-align:bottom;opacity:0;top:-100px;}
.mGlobalGTEC .item.large>img{position:absolute;width:545px;max-width:inherit;height:100%;left:50%;top:50%;transform:translate(-50%,-50%);}
.mGlobalGTEC .item.large p{position:absolute;left:0;bottom:25px;font-size:31px;line-height:40px;font-weight:bold;color:#fff;padding:0 40px;box-sizing:border-box;}

.mGlobalGTEC .item.small{position:relative;width:calc(27% - 20px);height:218px;margin-left:20px;overflow:hidden;display:inline-block;vertical-align:bottom;opacity:0;}
.mGlobalGTEC .item.small>img{position:absolute;width:297px;max-width:inherit;height:218px;left:50%;top:50%;transform:translate(-50%,-50%);}
.mGlobalGTEC .item.small p{position:absolute;left:0;bottom:25px;font-size:20px;line-height:24px;font-weight:bold;color:#fff;padding:0 25px;box-sizing:border-box;}

.mGlobalGTEC .item.small:nth-child(2){bottom:-100px;}
.mGlobalGTEC .item.small:nth-child(3){top:-100px;}

.mGlobalGTEC .item.large.on{top:0;opacity:1;}
.mGlobalGTEC .item.small.on:nth-child(2){bottom:0;opacity:1;}
.mGlobalGTEC .item.small.on:nth-child(3){top:0;opacity:1;}

.mSocial{width:100%;padding:70px 0 105px 0;}
.mSocial .innerCont{position:relative;}
/*.mSocial .innerCont::before{content:"";position:absolute;right:-120px;bottom:0;display:block;width:237px;height:280px;background:url(../img/main/icon_mainPointR_bottom.png) no-repeat center center;}*/
.mSocial .innerCont .PointR_bottom{position:absolute;right:-120px;bottom:0;display:block;/*width:237px;*/width:0;height:280px;background:url(../img/main/icon_mainPointR_bottom.png) no-repeat right bottom;background-size:237px 280px;}
.mSocial .area{position:relative;max-width:1280px}
.mSocial .mTit{padding:0 15px;box-sizing:border-box;}
.mSocial .controllArea{position:absolute;right:40px;top:10px;width:auto;font-size:0;}
.mSocial .controllArea>button{width:30px;height:26px;display:inline-block;vertical-align:top;text-indent:-9999px;}
.mSocial .controllArea>button.prev{background:url(../img/main/icon_SocialSliderPrev.png) no-repeat center center;margin-right:15px;}
.mSocial .controllArea>button.next{background:url(../img/main/icon_SocialSliderNext.png) no-repeat center center;}
.mSocial .sliderArea{width:100%;height:380px;font-size:0;}
.mSocial .sliderArea .item{position:relative;width:33.333%;height:380px;display:inline-block;vertical-align:top;background-color:#f9f9f9;margin:0 15px;}
.mSocial .sliderArea .item>a{display:block;}
.mSocial .sliderArea .item>a .imgBox{position:relative;width:100%;max-height:215px;overflow:hidden;}
.mSocial .sliderArea .item>a .imgBox::before{content:"";display:block;height:215px;}
.mSocial .sliderArea .item>a .imgBox>span{position:absolute;right:0;bottom:0;width:48px;height:48px;text-indent:-9999px;}
.mSocial .sliderArea .item>a .imgBox img{position:absolute;left:50%;top:50%;width:100%;height:100%;transform:translate(-50%,-50%)}
.mSocial .sliderArea .item>a .txtArea{height:165px;padding:20px 30px;box-sizing:border-box;background-color:#f9f9f9;}
.mSocial .sliderArea .item>a .txtArea>p{font-size:16px;color:#555555;line-height:24px;letter-spacing:-0.5px;word-break:break-all;height:72px;overflow:hidden;}
.mSocial .sliderArea .item>a .txtArea>time{display:block;margin-top:30px;padding-left:20px;box-sizing:border-box;font-size:15px;color:#6b6b6e;line-height:18px;background:url(../img/main/icon_socialTime.png) no-repeat left center;}
.mSocial .sliderArea .item.facebook>a .imgBox>span{background:#445e99 url(../img/main/icon_facebook.png) no-repeat center center;}
.mSocial .sliderArea .item.blog>a .imgBox>span{background:#32b44a url(../img/main/icon_blog.png) no-repeat center center;}
.mSocial .sliderArea .item.instagram>a .imgBox>span{background:#bb309e url(../img/main/icon_instagram.png) no-repeat center center;}
.mSocial .sliderArea .item.kakaoChannel>a .imgBox>span{background:#f5ca00 url(../img/main/icon_kakaoCnl.png) no-repeat center center;}
.mSocial .sliderArea .item.youtube>a .imgBox>span{background:#ff0000 url(../img/main/icon_youtube.png) no-repeat center center;}
.mSocial .sliderArea .item.kakao{background:#f9f9f9 url(../img/main/icon_kakao.png) no-repeat right 40px top 40px;}
.mSocial .sliderArea .item.kakao>div{padding:60px 40px 40px 40px;box-sizing:border-box;}
.mSocial .sliderArea .item.kakao .ch{margin-bottom:40px;font-size:16px;line-height:22px;font-weight:500;color:#ffc000;letter-spacing:-0.5px;}
.mSocial .sliderArea .item.kakao .tit{margin-bottom:15px;font-size:28px;color:#262626;line-height:33px;letter-spacing:-1px;font-weight:500;}
.mSocial .sliderArea .item.kakao .subTxt{font-size:16px;color:#555555;line-height:24px;letter-spacing:-1px;word-break:keep-all;}
.mSocial .sliderArea .item.kakao .boxlink{position:absolute;bottom:40px;left:40px;width:120px;height:48px;padding-top:1px;border:1px solid #555555;box-sizing:border-box;line-height:46px;font-size:16px;font-weight:500;color:#222;text-align:center;display:inline-block;}

.mBanner{width:100%;height:105px;border-top:1px solid #eeeeee;box-sizing:border-box;}
.mBanner .sliderArea{width:100%;font-size:0;padding:0 30px;box-sizing:border-box;}
.mBanner .sliderArea .item{display:inline-block;vertical-align:top;width:16.666%;}
.mBanner .sliderArea .item a{display:table;width:100%;height:105px;text-align:center;font-size:0}
.mBanner .sliderArea .item a>span{display:table-cell;width:100%;height:100%;vertical-align:middle;}
.mBanner .sliderArea .item a>span>img{vertical-align:middle;margin-right:10px;display:inline-block;}
.mBanner .sliderArea .item a>span>i{font-size:16px;line-height:20px;color:#222;display:inline-block;vertical-align:middle;font-style:normal;text-align:left;}
.mBanner .sliderArea .slick-arrow{position:absolute;top:36px;width:30px;height:26px;display:inline-block;vertical-align:top;text-indent:-9999px;}
.mBanner .sliderArea .slick-arrow.slick-prev{left:-12px;background:url(../img/main/icon_SocialSliderPrev.png) no-repeat center center;}
.mBanner .sliderArea .slick-arrow.slick-next{right:-12px;background:url(../img/main/icon_SocialSliderNext.png) no-repeat center center;}


@media all and (max-width: 1800px) {
    .mNews .sliderArea{max-width:1740px;padding:0 30px;}
    .mNews .sliderArea .mCSB_scrollTools.mCSB_scrollTools_horizontal{width:calc(100% - 30px);}
    .mNews .plus{right:30px;}
}

@media all and (max-width: 1740px) {
    /*** contents ***/
    .typeMain header .top_util::before,
    .typeMain header .top_util::after{display:none;}
    .mNews .sliderArea{width:100%;padding-right:0;overflow:hidden;}
    .mNews .Scrollbar{width:calc(100% - 30px);}
    .mVisual .mVisualDot .slick-dots{right:30px;}
    .mNoticeRolling .sliderArea .linkArea{right:0px;}
    
    .mSocial .innerCont::before,
    .mSocial .innerCont .PointR_bottom,
    .mGlobalGTEC .innerCont::after{display:none;}
}

@media all and (max-width: 1280px) {
    /*** contents ***/
    .innerCont .area{padding:0;}
    .mLink .iconLink .item{width:16.666%;margin:0;}
    
    .mNotice .half:nth-child(1){padding-right:30px;}
    
    .mSocial .innerCont{padding:0 15px;}
    .mSocial .controllArea{right:10px;}
    .mSocial .sliderArea .item.kakao>div{padding:40px 20px 20px 20px;}
    .mSocial .sliderArea .item.kakao .boxlink{left:20px;bottom:20px;}
    
}

@media all and (max-width: 1041px) {
    html::-webkit-scrollbar, body::-webkit-scrollbar {width:0;}
    
    body.mSticky #header header .top_util{background:#fff;}
    body.mSticky #header header .mBtn_topMenu{background-image:url(../img/layout/m/top_lineMenu_black.png);}
    body.mSticky #header header .top_util .utilGrp > a,
    body.mSticky #header header .top_util .utilGrp button {color:#fff !important;}
    body.mSticky .gnbOn header .top_util .utilGrp .btn_topLanguage {background-image:url(../img/layout/ico_arrB_white.png) !important;}
    
    .mVisual .sliderArea .item{height:700px;}
    .mVisual .sliderArea .item .btn_Play{bottom:150px;}
    .mVisual .sliderArea .item .imgBox{width:1415px;}
	.mVisual .sliderArea .item.video .youTube {height:700px;}
	.mVisual .sliderArea .item.video .youTube iframe{height:700px;}
    .mVisual .sliderArea .item .textArea{top:250px}
    .mVisual .sliderArea .item .textArea .greenBox{top:-150px;/*width:400px;*/height:444px;background-size:400px 444px;}
    .mVisual .sliderArea .item .textArea .lv1{font-size:17px;letter-spacing:15px;}
    .mVisual .sliderArea .item .textArea .lv2{font-size:80px;letter-spacing:-2px;}
    .mVisual .sliderArea .item .textArea .lv3{font-size:20px;margin-top:30px;}
    
    .mVisual .mVisualDot .slick-dots{top:-430px;right:0;}
    .mVisual .mVisualDot .slick-dots li .default{font-size:18px;padding:7px 0;}
    .mVisual .mVisualDot .slick-dots li.slick-active .default{font-size:24px;}
    
    .mNotice .PR_Movie .pointR>img{opacity:1}
    .mNews .sliderArea .slider{width:100%;}
    .mNews .sliderArea .item{opacity:1;left:0;}
    .mGlobalGTEC .area .pointL>img{opacity:1;}
    
    .mTit{margin-bottom:20px;}
    
    .mLink{padding:50px 0 60px 0;}
    .mLink .iconLink .item>img{width:60px;margin-bottom:10px;}
    .mLink .iconLink .item>p{font-size:16px;}
    
    .mSocial .sliderArea .item>a .txtArea{padding:20px;}
    .mSocial .sliderArea .item.kakao{background-position:right 30px top 30px;}
    .mSocial .sliderArea .item>a .imgBox img {height:auto;min-height:215px;}
    
    .mGlobalGTEC .item.large{top:0;opacity:1}
    .mGlobalGTEC .item.small{opacity:1;}
    .mGlobalGTEC .item.small:nth-child(2){bottom:0px;}
    .mGlobalGTEC .item.small:nth-child(3){top:0px;}

    .mVisual .sliderArea .item.video .youTube .ytp_frame {width:100%;height:700px;left:0;}
    .mVisual .sliderArea .item.video .youTube .ytp_frame .ytp_frame_inner {top:0;height:auto;}
    .mVisual .sliderArea .item.video .youTube .ytp_frame iframe {width:100%;height:700px;}

    .mVisual .sliderArea .item .btn_Play {display:none;}
}

@media all and (max-width: 920px) {
    .mNotice .half{width:100%;}
    .mNotice .half:nth-child(1){padding-right:0px;margin-bottom:60px;}
    /*.mNotice .PR_Movie::before{left:auto;right:25px;top:0px;width:100px;height:90px;background-size:100% auto;}*/
    .mNotice .PR_Movie .pointR{left:auto;right:25px;top:0px;width:100px;height:90px;background-size:100% auto;}
    .mNotice .PR_Movie .pointR>img{width:100px;height:90px;}
    
    .mGlobalGTEC .area::before{top:-128px;}
    .mGlobalGTEC .area .pointL{top:-128px;display:none;}
    
    .mGlobalGTEC .innerCont{padding-top:60px;}
    .mGlobalGTEC .item.large p{padding:0 20px;font-size:24px;}
    .mGlobalGTEC .item.small p{padding:0 20px;font-size:18px;}
}

@media all and (max-width: 768px) {
    .mVisual .sliderArea .item{height:540px;}
    .mVisual .sliderArea .item .btn_Play{bottom:120px;font-size:16px;background-size:20px;padding-left:30px;left:20px;}
    .mVisual .sliderArea .item .imgBox{width:100%;height:540px;}
    .mVisual .sliderArea .item .imgBox>img{display:none;}
    .mVisual .sliderArea .item .imgBox .mobile{position:relative;display:block;width:100%;height:100%;background-size:cover;background-position:center center;z-index:1;}
	.mVisual .sliderArea .item.video .youTube {height:540px;}
	.mVisual .sliderArea .item.video .youTube iframe{height:460px;}
    .mVisual .sliderArea .item .textArea .greenBox{left:0;top:-110px;/*width:190px;*/height:210px;background-size:190px 210px;}
    .mVisual .sliderArea .item .textArea{top:195px;padding:0 20px;}
    .mVisual .sliderArea .item .textArea .lv1{font-size:12px;letter-spacing:8px;}
    .mVisual .sliderArea .item .textArea .lv2{font-size:60px;line-height:60px;letter-spacing:0;}
    .mVisual .sliderArea .item .textArea .lv2>b{display:block;}
    .mVisual .sliderArea .item .textArea .lv2>span{display:block;}
    .mVisual .sliderArea .item .textArea .lv3{margin-top:10px;font-size:13px;line-height:20px;word-break:keep-all;}
    .mVisual .mVisualDot{display:none;}
    
    .mNoticeRolling .sliderArea{height:auto;padding:0;}
    .mNoticeRolling .sliderArea .rollTit{width:100%;padding:15px 20px 0 20px;box-sizing:border-box;}
    .mNoticeRolling .sliderArea .rollTit>p{font-size:17px;}
    .mNoticeRolling .sliderArea .rollTit>.paused{width:17px;height:17px;background-size:5px auto;}
    .mNoticeRolling .sliderArea .noticeSlider{width:calc(100% - 40px);margin-left:20px;padding:10px 0px 15px 0px;box-sizing:border-box;}
    .mNoticeRolling .sliderArea .noticeSlider .item{font-size:14px;box-sizing:border-box;margin-right:0;display:block;padding:0 20px;text-overflow:ellipsis;white-space:nowrap;word-wrap:normal;overflow:hidden;}
    .mNoticeRolling .sliderArea .noticeSlider .item::before{display:none;}
    
    .mNoticeRolling .sliderArea .linkArea{position:static;width:100%;height:53px;}
    .mNoticeRolling .sliderArea .linkArea>a{font-size:14px;text-align:left;padding:20px;}
    .mNoticeRolling .sliderArea .linkArea>a>span{display:block;font-size:14px;}
    
    .mTit{font-size:26px;margin-bottom:15px;}
    .innerCont{padding:0 20px;}
    
    .mNews{padding-top:20px;min-height:140px;}
    .mNews::before{height:140px;}
    .mNews .sliderArea{padding:0 0 0 20px;}
    .mNews .Scrollbar{width:calc(100% - 40px);margin:20px 0 0 20px;display:block;}
	.mNews .sliderArea .mCSB_scrollTools.mCSB_scrollTools_horizontal{width:calc(100% - 20px);}
    .mNews .plus{top:7px;right:20px;width:14px;height:14px;background-size:100% auto;}
    .mNews .sliderArea .item{width:245px !important;height:160px;margin-right:20px;left:0;opacity:1;}
	.mNews .sliderArea .item:last-of-type{margin-right:20px;}
    .mNews .sliderArea .item>p{height:44px;padding:0 15px;margin-bottom:15px;font-size:16px;line-height:22px;}
    .mNews .sliderArea .item>p>b{letter-spacing:-0.5px;}
    
    .mLink{padding:40px 0 25px 0;}
    .mLink .iconLink .item{width:33.333%;margin-bottom:25px;}
    .mLink .iconLink .item>img{width:40px;margin-bottom:10px;}
    .mLink .iconLink .item>p{font-size:15px;line-height:20px;}
    
    .mNotice{padding-bottom:50px;}
    .mNotice .mTit{margin-bottom:10px;}
    .mNotice .tabBtn{display:flex;display:-webkit-flex;justify-content: space-between;-webkit-justify-content:space-between;}
    .mNotice .tabBtn .default{flex-basis:auto;-webkit-flex-basis:auto;width:auto;}
    .mNotice .tabBtn .default>span{font-size:14px;padding:10px 0;}
    
    .mNotice .typeNoArticle{height:125px !important;}
    .mNotice .noticeList .no_article{padding-top:100px;background-size:60px auto;background-position:center top 20px;}
    .mNotice .noticeList{min-height:155px;padding-top:10px;}
    .mNotice .noticeList ul>li{padding:7px 0;}
    .mNotice .noticeList ul>li>a{padding-right:70px;height:15px;}
    .mNotice .noticeList ul>li>a>span:not(.ico_new){font-size:15px;}
    .mNotice .noticeList ul>li>a> .ico_new{vertical-align:0;}
    .mNotice .noticeList ul>li>a>time{width:70px;font-size:13px;top:1px;}
    .mNotice .noticeList .plus{top:-66px;width:14px;height:14px;background-size:100% auto;}
    
    /* .mNotice .PR_Movie{height:180px;} */
    /*.mNotice .PR_Movie::before{right:auto;left:250px;width:57px;height:52px;}*/
    .mNotice .PR_Movie .pointR{right:auto;left:250px;width:57px;height:52px;}
    .mNotice .PR_Movie .pointR>img{width:57px;height:52px;}
    .mNotice .PR_Movie > p{margin-bottom:30px;padding-top:10px;}
    .mNotice .PR_Movie > p>span{font-size:36px;line-height:1em;letter-spacing:6px;}
    .mNotice .PR_Movie > p>b{font-size:36px;line-height:1em;margin-top:5px;letter-spacing:12px;}
    .mNotice .PR_Movie .imgBox{width:270px;left:30px;top:-25px;}    
    .mNotice .PR_Movie > a{font-size:13px;padding-left:15px;background-size:10px auto;}

    .mNotice .PR_Movie{max-width:385px;height:250px;margin:0 auto;}
    .mNotice .PR_Movie .imgBox {width:350px;left:50%;margin-left:-175px;}

    .mGlobalGTEC{height:auto;background-size:400px auto;background-position:right -145px top 0;}
    .mGlobalGTEC .innerCont::before{height:205px;}
    .mGlobalGTEC .area::before{width:66px;height:40px;left:-20px;top:-47px; background:url(../img/main/m/m_icon_mainPointL.png) no-repeat center center;background-size:100% auto;}
    .mGlobalGTEC .textArea{position:relative;left:0;width:100%;padding-top:0;}
    .mGlobalGTEC .textArea .mSub{display:none;}
    .mGlobalGTEC .textArea .mTit{margin-bottom:15px;}
    .mGlobalGTEC .textArea > a{margin-top:0;position:absolute;right:20px;top:5px;font-size:13px;padding-left:15px; background-size:10px auto;}
    .mGlobalGTEC .innerCont{padding-top:40px;padding-right:0px;}
    .mGlobalGTEC .item.small,
    .mGlobalGTEC .item.large{width:200px;height:150px;}
    .mGlobalGTEC .item.small{margin-left:15px;}
    .mGlobalGTEC .item.small p,
    .mGlobalGTEC .item.large p{font-size:15px;padding:0 15px;bottom:15px;width:100%;box-sizing:border-box;line-height:20px;}
    /* .mGlobalGTEC .item.large>img,
    .mGlobalGTEC .item.small>img{width:100%;} */
    .mGlobalGTEC .item.large>img,
    .mGlobalGTEC .item.small>img{width:auto;min-width:200px;}
    
    .mSocial{padding:35px 0 40px 0;}
    .mSocial .mTit{padding:0;}
    .mSocial .controllArea{display:none;}
    .mSocial .innerCont{padding-right:0px;}
    .mSocial .sliderArea{height:auto;}
    /* .mSocial .sliderArea .item{width:200px;height:315px;margin:0 15px 0 0;}
    .mSocial .sliderArea .item>a .imgBox::before{height:200px} */
    .mSocial .sliderArea .item{width:200px;height:225px;margin:0 15px 0 0;} 
    .mSocial .sliderArea .item>a .imgBox img {height:100%;min-height:1px;}
    .mSocial .sliderArea .item>a .imgBox::before{height:110px}
    .mSocial .sliderArea .item>a .txtArea{height:110px;padding:15px;}
    .mSocial .sliderArea .item>a .txtArea>p{font-size:12px;line-height:19px;height:58px;}
    .mSocial .sliderArea .item>a .imgBox>span{width:25px;height:25px;background-size:7px auto !important}
    .mSocial .sliderArea .item.instagram>a .imgBox>span {background-size:14px auto !important}
    .mSocial .sliderArea .item.kakaoChannel>a .imgBox>span {background-size:14px auto !important}
    .mSocial .sliderArea .item.youtube>a .imgBox>span {background-size:14px auto !important}
    .mSocial .sliderArea .item>a .txtArea>time{font-size:12px;margin-top:10px;background-size:10px auto;padding-left:15px;background-position:left top 5px;}
    .mSocial .sliderArea .item.kakao{background-size:40px auto;background-position:right 15px top 15px;}
    .mSocial .sliderArea .item.kakao>div{height:100%;padding:15px;}
    .mSocial .sliderArea .item.kakao .ch{font-size:12px;margin-bottom:15px;}
    .mSocial .sliderArea .item.kakao .tit{font-size:15px;line-height:22px;height:44px;overflow:hidden;}
    .mSocial .sliderArea .item.kakao .subTxt{font-size:12px;line-height:17px;height:51px;overflow:hidden;}
    .mSocial .sliderArea .item.kakao .boxlink{left:15px;bottom:15px;width:80px;height:35px;font-size:13px;font-size:13px;line-height:33px;}
    
    .mBanner{height:auto;}
    .mBanner .sliderArea{padding:0 5px;}
    .mBanner .sliderArea .item a{height:55px;}
    .mBanner .sliderArea .item a>span>img{width:20px;}
    .mBanner .sliderArea .item a>span>i{font-size:14px;}
    .mBanner .sliderArea .slick-arrow{width:15px;height:23px;background-size:13px auto !important;top:15px;}

    .mVisual .sliderArea .item.video .youTube .ytp_frame {height:540px;}
    .mVisual .sliderArea .item.video .youTube .ytp_frame iframe {height:540px;}
}

@media all and (max-width: 600px) {
    /* .mSocial .sliderArea .item{width:200px;height:225px;margin:0 15px 0 0;} */
    /* .mSocial .sliderArea .item>a .imgBox::before{height:110px} */
}

@media all and (max-width: 550px) {
    .mNotice .PR_Movie{max-width:100%;height:180px;}
    .mNotice .PR_Movie .imgBox {width:270px;left:30px;margin-left:0;}
}

@media all and (max-width: 420px) {
    .mVisual .sliderArea .item .imgBox .mobile{height:550px;background-size:100% 590px;background-repeat:no-repeat;width: 420px;position: absolute;left: 50%;transform: translate(-50%,0);}
}


@media all and (max-width: 320px) {
    
}




























