@charset "utf-8";
@import url(font_Gotham/font.css);

/* Reset */
html, body, div, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, span, form, fieldset, input, select, label, textarea, table, caption, thead, tfoot, tbody, tr, th, td
{margin:0;padding:0;font:14px/1.5 'Noto Sans KR', '맑은고딕','Malgun Gothic','나눔고딕','nanumgothic',굴림,Gulim,돋움,Dotum, Arial, Sans-serif;color:#000;-webkit-text-size-adjust:none;}
b, span, strong, input, a, button, pre {font-size:inherit;font-family:inherit;color:inherit}
article, aside, dialog, footer, header, section, footer, nav, figure, hgroup, details, summary, figure, figcaption {display: block;}
cite {display:inline}
html, body {height:100%;}
body {margin:0px;overflow-y:scroll;}
a:link {text-decoration:none;}
a:visited {text-decoration:none;}
img {border:0;}
label, input, textarea, select {vertical-align:middle}
ol, ul {list-style:none;}
table {border-collapse:collapse;table-layout:fixed;}
fieldset {border:none}
hr {position:absolute;left:-1000%;width:1px;height:1px;font-size:0;line-height:0;overflow:hidden;}
button {margin:0;padding:0;border:none;background:none;outline:none;cursor:pointer;display:inline-block;overflow:visible}
figure {margin:0;padding:0}

/* contents */
body.typePride {overflow:hidden;}
body.typePride .sduWrap {overflow-x:hidden;overflow-y:auto;height:2070px;}

.wrap {position:relative;overflow-x:hidden;width:100%;margin:0 auto;text-align: center;font-size: 0;}
.header {font-size:0}
.header .headerInner {position:relative;max-width:1920px;margin: 0 auto;}
div {font-size: 0;}
.footer{font-size: 0;}
.nav {position:relative;width:100%;height:60px;background:#88c931}
.nav.on {position:fixed;top:0;z-index:99}

.footer {
    font-size: 0;
    background: url(../img/kor_b/footer_bg2.png) repeat-x;
}
