@charset "utf-8";
@import url(font_noto/font.css);

/* Reset */
html, body, div, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, span, form, fieldset, input, select, label, textarea, table, caption, thead, tfoot, tbody, tr, th, td
{margin:0;padding:0;font:14px/1.5 'Noto Sans KR', '맑은고딕','Malgun Gothic','나눔고딕','nanumgothic',굴림,Gulim,돋움,Dotum, Arial, Sans-serif;color:#000;-webkit-text-size-adjust:none;}
b, span, strong, input, a, button, pre {font-size:inherit;font-family:inherit;color:inherit}
article, aside, dialog, footer, header, section, footer, nav, figure, hgroup, details, summary, figure, figcaption {display: block;}
cite {display:inline}
html, body {height:100%;}
body {margin:0px;overflow-y:scroll;}
a:link {text-decoration:none;}
a:visited {text-decoration:none;}
img {border:0;}
label, input, textarea, select {vertical-align:middle}
ol, ul {list-style:none;}
table {border-collapse:collapse;table-layout:fixed;}
fieldset {border:none}
hr {position:absolute;left:-1000%;width:1px;height:1px;font-size:0;line-height:0;overflow:hidden;}
button {margin:0;padding:0;border:none;background:none;outline:none;cursor:pointer;display:inline-block;overflow:visible}
figure {margin:0;padding:0}

/* layout common */
html,body {height:100%;}
body {min-width:1620px;position:relative;margin:0 auto;overflow-x:hidden;}
div {font-size:0;}

/* contents */
#header,
#container,
#footer {position: relative;width:100%;width:1920px;margin:0 auto;}

.innerWrap {position:relative;overflow:hidden;max-width:1406px;height:100%;margin:0 auto;}

/* header */
#header {overflow:hidden;position:absolute;left:0;top:0;height:125px;box-sizing:border-box;z-index:1;}
#header h1 {float:left;width:320px;height:125px;font-size:0;}
#header h1 a {display:block;margin-top:32px;}
#header .top_util {float:left;margin:75px 0 0 25px;}
#header .gnb {position:relative;display:block;overflow:hidden;width:820px;float:left;padding:50px 50px 0 0;margin-left:200px}
#header .gnb>li {float:left;width:auto;margin-right:70px;text-align:center;}
#header .gnb>li:last-child {margin-right:0;}
#header .btn_menu {position:absolute;right:0;top:50px;}

/* visual */
.mVisual {position:relative;overflow:hidden;width:100%;padding-top:125px;}
.mVisual .visualGrp {float:right;width:1054px;}
.mVisual .visualGrp li {font-size:0;}
.mVisual .visualCopy {position:absolute;left:0;top:70px;z-index:2}
.mVisual .visualCopy span {display:block;}
.mVisual .visualCopy span.tit {margin-bottom:26px;}

/* content */
.mContent {margin-top:2px;}
.content {position:relative;overflow:hidden;width:100%;margin:0 auto;}
.content .ct1 {float:left;width:350px;}
.content .ct2,
.content .ct3,
.content .ct4 {position:relative;float:left;width:350px;margin-left:2px;}

/* ct1 */
.ct1 ul li:first-child {margin-top:0;}
.ct1 ul li {margin-top:2px;font-size:0;}

/* ct4 */
.ct4 .quick {padding:40px 0 42px 30px;}
.ct4 .issue {position:relative;}
.ct4 .issue .slick-dots {position:absolute;right:30px;top:30px;}
.ct4 .issue .slick-dots li {display:inline-block;margin-right:7px;font-size:0;}
.ct4 .issue .slick-dots li:last-child {margin-right:0;}
.ct4 .issue .slick-dots li button {display:inline-block;width:10px;height:10px;border-radius:50%;border:1px solid #fff;font-size:0;}
.ct4 .issue .slick-dots li.slick-active button {background:#fff;}

/* footer */
#footer {width:100%;height:110px;padding-top:35px;box-sizing:border-box;}
#footer .right {float:right;}